<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>resuMIX</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body class="bg-body-secondary">
    <nav class="navbar bg-dark p-3" data-bs-theme="dark" aria-label="resuMIX navbar">
        <div class="container-fluid">
            <a class="navbar-brand navbar-brand-underline" href="#">resuMIX</a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarsExample01" style="">
                <span class="navbar-text">
                    resuMIX suggests improvement on your cover letter based on the job description.
                </span>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row g-5 p-5">
            <div class="col-lg-6">
                <div class="border border-dark-subtle shadow p-1 bg-body-subtle rounded">
                    <div class="form-floating">
                        <textarea class="form-control" id="cover-letter" name="cover-letter"
                            style="height: 500px"></textarea>
                        <label for="cover-letter">Copy and paste your cover letter here</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="border border-dark-subtle shadow p-1 bg-body-subtle rounded">
                    <div class="form-floating">
                        <textarea class="form-control" id="job-description" name="job-description"
                            style="height: 500px"></textarea>
                        <label for="job-description">Copy and paste the job description here</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div id="spinnerContainer" class="spinner-border text-primary" role="status" style="display: none;">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col text-center mt-3">
                <button class="btn btn-primary" id="createSuggestionsButton">Create Suggestions</button>
                <button class="btn btn-secondary" id="resetButton">Reset</button>
            </div>
        </div>
    </div>
    <!-- Results container that starts as hidden -->
    <div class="container d-flex justify-content-center align-items-center mt-3">
        <div class="row" id="resultsContainer" style="display: none;">
            <div class="col-8 mx-auto">
                <div class="card text-white bg-dark mb-3 shadow">
                    <div class="card-body">
                        <h5 class="card-title">Suggestions</h5>
                        <!-- Place your suggestion results here -->
                        <ul>
                            <li><strong>Cover Letter suitability:</strong> <span id="suitability"></span></li>
                            <li><strong>Suggestions for Improvement:</strong> <span id="suggestions"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script>
        request_id = null;
        interval_id = null;
        // Elements
        const coverLetterElement = document.getElementById("cover-letter")
        const jobDescriptionElement = document.getElementById("job-description")
        const resultsContainerElement = document.getElementById('resultsContainer')
        const spinnerContainerElement = document.getElementById('spinnerContainer')
        // Buttons
        const createSuggestionsButton = document.getElementById("createSuggestionsButton")
        const resetButton = document.getElementById('resetButton')

        async function get_request() {
            try {
                // Send a GET request to the server with the request_id
                const response = await fetch(`/requests/${request_id}`);

                if (response.ok) {
                    // If the request is successful, parse the JSON response
                    const data = await response.json();

                    // Check if the request is finished
                    if (data.request_status === 'Finished') {
                        // Display the data in the resultsContainer
                        // Display the completion information in the resultsContainer
                        const suitabilityElement = document.getElementById('suitability');
                        const suggestionsElement = document.getElementById('suggestions');

                        // Update the content of the resultsContainer
                        suitabilityElement.textContent = data.completion.Suitability;
                        suggestionsElement.textContent = data.completion.Improvements;

                        // Show the resultsContainer
                        showElement(resultsContainerElement)

                        // Clear the interval as the request is finished
                        clearInterval(interval_id);
                        interval_id = null; // Reset the interval_id
                        enableElement(createSuggestionsButton)
                        hideElement(spinnerContainerElement)
                    }
                } else {
                    // Handle the case where the GET request was not successful
                    console.error('Request failed with status:', response.status);
                    clearInterval(interval_id); // Clear interval in case of error
                    interval_id = null; // Reset the interval_id
                }
            } catch (error) {
                console.error(error);
                clearInterval(interval_id); // Clear interval on error
                interval_id = null; // Reset the interval_id
            }
        }

        // Function to reset the UI and hide results container
        function resetUI() {
            // Reset text areas
            coverLetterElement.value = '';
            jobDescriptionElement.value = '';

            // Hide results container
            hideElement(resultsContainerElement)
        }

        // Function to handle reset button click
        resetButton.addEventListener('click', resetUI);

        async function post_request(event) {
            event.preventDefault();

            const coverLetter = coverLetterElement.value;
            const jobDescription = jobDescriptionElement.value;

            console.log('Cover Letter:', coverLetter);
            console.log('Job Description:', jobDescription);

            // Check if either cover letter or job description is empty
            if (!coverLetter || !jobDescription) {
                console.log('Please fill in both the cover letter and job description.');
                return;
            }

            if (interval_id) {
                console.log('A request is already in progress. Please wait for the current request to finish.');
                return;
            }

            const form_data = {
                'cover-letter': coverLetterElement.value,
                'job-description': jobDescriptionElement.value
            }

            console.log('form_data:', form_data)
            try {
                const response = await fetch('/requests', {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(form_data)
                })
                const data = await response.json();
                console.log('data:', data)
                request_id = data.request_id;
                interval_id = setInterval(get_request, 500);  //500ms
                disableElement(createSuggestionsButton)
                showElement(spinnerContainerElement)
            }
            catch (error) { console.error(error) }
        }

        function showElement(element) {
            element.style.display = "block"
        }

        function hideElement(element) {
            element.style.display = "none"
        }

        function disableElement(element) {
            element.setAttribute("disabled", null)
        }

        function enableElement(element) {
            element.removeAttribute("disabled")
        }

        createSuggestionsButton.addEventListener("click", post_request)
    </script>
</body>

</html>
